<% if (typeof flash !== 'undefined' && flash) { %>
  <% if (flash.data && flash.data.secretKey) { %>
    <div class="alert alert-secret">
      <h3>Save this secret key now</h3>
      <p><%= flash.message %></p>
      <p class="muted">Paste it into the DigiForce WP Agent plugin on this site. It will not be shown again.</p>
      <code class="secret-value"><%= flash.data.secretKey %></code>
      <% if (flash.data.siteUuid) { %>
        <p class="muted" style="margin-top: 12px;">Site UUID: <code><%= flash.data.siteUuid %></code></p>
      <% } %>
    </div>
  <% } else { %>
    <div class="flash flash-<%= flash.type || 'info' %>"><%= flash.message %></div>
  <% } %>
<% } %>
